<div ng-cloak layout="row " layout-sm="column " layout-align="center center " layout-wrap>

    <div flex-gt-sm="90" flex>
        <md-content>
        
        
  <br><br><p class="text-center">
         <strong>NIVEL CRÍTICO</strong> </p>
          <br><br>
 <p class="text-justify">
  <strong>¿Qué busca?</strong> <br><br>

Que asumas una posición documentada frente al texto mientras evalúas su contexto. <br><br>

  <strong>¿Cómo son las preguntas?</strong> <br><br>

Este tipo de preguntas busca que asumas una opinión o un punto de vista objetivo y justificado a partir de lo que acabas de leer, que te permita tener en cuenta el texto con relación a su contexto, y compararlo con los valores y/o principios de la sociedad. <br><br>

  <p class="text-center"><strong>Ejemplo:</strong></p>
          <br><br>

  <strong>Texto:</strong> <br><br>

Las mujeres, a través de la historia, han sufrido determinada marginación social, basta con recordar que solamente hasta 1948 la mujer tuvo derecho a elegir sus representantes y ser elegida. Dicha marginación se debe a muchos factores sociales, principalmente al machismo histórico en el que la mujer siempre ha sido considerada como “el sexo débil”, o “parte del hombre”. <br><br>

  <strong>Pregunta:</strong> <br><br>

Según el texto anterior, sería válido afirma que la mujer ha sido considerada como “el sexo débil” porque: <br><br>

a) Las mujeres son mucho más delicadas que los hombres y en general, una mujer promedio no tienen tanta fuerza como un hombre promedio. <br><br>

b) Las mujeres, según el génesis, fueron hechas a partir de una costilla del hombre, por lo tanto, están sujetas a su dominación. <br><br>

c) El machismo es una de las principales dificultades sociales a las que se enfrenta la mujer en la actualidad, por ello, debe luchar constantemente en un mundo desigual en el que la mayoría de las oportunidades están diseñadas para el género masculino. <br><br>

d) El considerar a las mujeres como “sexo débil” es una de las estrategias históricas que se prestan como excusa perfecta para marginar a la mujer, al considerar que, por el simple hecho de ser mujer, no está calificada para asumir roles masculinos, como el gobierno de una nación. <br><br>

   <p class="text-center"><strong>ANÁLISIS DE CADA UNA DE LAS OPCIONES</strong></p><br><br>

  <strong>Opción a):</strong> Como podemos ver, dicha opción hace referencia a información que no es mencionada en el texto, y que no tiene casi ninguna relación, ni con el tema ni con la pregunta. Por lo tanto la opción a) es descartada. <br><br>

  <strong>Opción b):</strong> Este tipo de opciones son, por lo general, las más fáciles de descartar, pues nos presentan información que no está en el texto o que no tiene relación con la pregunta. En este caso podemos identificar que en ningún momento se hace referencia directa al génesis, ni en el texto ni en la pregunta, por lo tanto, la opción b) es descartada. <br><br>

  <strong>Opción c):</strong> Este tipo de opciones son, por lo general, las más difíciles de descartar, pues son muy parecidas a la respuesta correcta, sin embargo, si la leemos detalladamente nos daremos cuenta de que no está totalmente completa, o que tiene algo que no es 100% adecuado para el texto o la pregunta. En este caso particular, podemos ver que se habla de una de las problemáticas que se le pueden presentar a las mujeres, sin embargo, la afirmación se aleja por mucho de lo manifestado en el texto y la pregunta, por lo tanto, la opción  c) es descartada. <br><br>

  <strong>Opción d):</strong> Esta es la opción correcta pues es la única que propone una respuesta a la pregunta con relación al texto. Así mismo, asume una visión crítica frente al calificativo de “sexo débil” en relación a la marginación mencionada en la lectura. Por esta razón, la opción d) es la más adecuada. <br><br>

</p>




        </md-content>
    </div>
</div>