<div ng-cloak layout="row " layout-sm="column " layout-align="center center " layout-wrap>

    <div flex-gt-sm="90" flex>
        <md-content>
        
           <p class="text-justify">
NIVEL INFERENCIAL<br><br>

¿Qué busca? <br><br>

Que relaciones distintas partes del texto para sacar deducciones, es decir, que tengas la capacidad de ir un poco más allá de lo que dice el texto. <br><br>

¿Cómo son las preguntas? <br><br>

Este tipo de preguntas están diseñadas para invitarte a que te adelantes a los hechos, que hagas predicciones o que llegues a tus propias conclusiones a partir de lo leído, naturalmente, sin desviarte de lo propuesto por el texto. <br><br>

Ejemplo: <br><br>

Texto: <br><br>

El maíz es una planta de origen americano, muy apreciada por las culturas precolombinas debido a sus propiedades alimenticias e incluso, porque a partir de dicho cultivo se puede fabricar una bebida embriagante conocida popularmente como “chicha”. En Colombia, dicha bebida de producción artesanal fue prohibida y prácticamente extinguida hacia los años 40 del siglo XX, pues las autoridades locales y nacionales la consideraban como una muestra de atraso cultural y social, además de que se le acusaba de ser la culpable de las condiciones deplorables en las que vivían las comunidades más pobres de la nación. Curiosamente, el ocaso de la chicha ocasionó el fortalecimiento y crecimiento de la industria cervecera del país. <br><br>

Pregunta: <br><br>

A partir de la lectura, podemos inferir que la prohibición de la chicha en Colombia pudo ser: <br><br>

a) Una política de salud pública, pues los sectores populares se estaban enfermando a causa del consumo de la chicha. <br><br>

b) Una estrategia de la sociedad colombiana, que buscaba alejar del alcoholismo a los sectores más vulnerables. <br><br>

c) Una política económica adelantada por los gobernantes que buscaban modernizar el país a través del crecimiento de la industria, acabando con la producción artesanal. <br><br>

d) Una estrategia económica adelantada por la industria cervecera y sectores políticos que buscaba la prohibición de la chicha para que los sectores populares no fabricaran su propia bebida, sino que compraran cerveza y de esta manera contribuyeran en el pago de impuestos. <br><br>

ANÁLISIS DE LAS OPCIONES: <br><br>

Opción a) Como podemos ver, dicha opción hace referencia a información que no es mencionada en el texto, y que no tiene casi ninguna relación, ni con el tema ni con la pregunta. Por lo tanto la opción a) es descartada. <br><br>

Opción b)  Este tipo de opciones son, por lo general, las más fáciles de descartar, pues nos presentan información que no está en el texto o que no tiene relación con la pregunta. En este caso podemos identificar que en ningún momento se hace referencia directa a la iglesia católica, ni en el texto ni en la pregunta, por lo tanto, la opción b) es descartada. <br><br>

Opción c) Este tipo de opciones son, por lo general, las más difíciles de descartar, pues son muy parecidas a la respuesta correcta, sin embargo, si la leemos detalladamente nos daremos cuenta de que no está totalmente completa, o que tiene algo que no es 100% adecuado para el texto o la pregunta. En este caso particular se hace referencia al crecimiento de la industria en relación con la producción artesanal, pero no hace ninguna precisión a la industria cervecera ni a la chicha, que son los ejes centrales del mismo, por lo tanto, la opción c) es descartada. <br><br>

Opción d) Esta es la opción correcta pues es la única que propone una respuesta a la pregunta con relación al texto. Así mismo, asume una inferencia frente al desprestigio sufrido por la chicha en relación al crecimiento manifestado por parte de la industria cervecera. Por esta razón, la opción d) es la más adecuada. <br><br>

</p>




        </md-content>
    </div>
</div>