<div ng-cloak layout="row " layout-sm="column " layout-align="center center " layout-wrap>

    <div flex-gt-sm="90" flex>
        <md-content>
            <p class="text-justify">
             <br><br>
Antes de iniciar te recordamos que tu plataforma, LECTOR.COM, NO te presenta pruebas de memoria o velocidad, por el contrario, busca reforzar tu habilidad para comprender un texto, planteando técnicas y hábitos de estudio que te permitan interpretar lo que lees, para ello resulta indispensable que te tomes tu tiempo para leer y reflexionar sobre lo leído, así mismo, te recomendamos que cumplas con las etapas propias de cada proceso de comprensión lectora:
<br><br></p>
         <p class="text-center">
<strong>ANTES DE LEER:</strong></p>
<br><br>
         <p class="text-justify">
-Busca un ambiente propicio para el estudio y la lectura. La plataforma está pensada para que desarrolles cada ejercicio desde la comodidad de tu hogar, por eso te recomendamos que busques un espacio alejado del ruido y las distracciones, con la intención de que puedas concentrarte completamente durante la lectura. 
<br><br>
-Selecciona la lectura que más se ajuste a tus gustos e intereses. La plataforma te presenta diferentes temáticas y lecturas, tienes toda la libertad de escoger la que desees. Escoge bien, pues de seguro, además de fortalecer tus hábitos de estudio y tu habilidad de comprensión lectora, también podrás salir de dudas o aprender más de eso que realmente te apasiona.
<br><br>
- Recuerda que cada lectura tiene su propio test, por lo tanto, debes estar muy bien preparado antes de responder las preguntas, para ello, te recomendamos utilizar un lápiz o lapicero y tu propio cuaderno de apuntes, de manera que puedas tener de manera organizada toda la información que consideres pertinente o necesaria para responder el test.
          </p>
<br><br>
  <p class="text-center">        
<strong>MIENTRAS LEES:</strong>
   </p>
         
<br><br>
         <p class="text-justify">
Una vez seleccionado el texto que vas a leer, te recordamos una vez más que no se trata simplemente leer por leer, se trata de hacer un proceso consciente de reconocimiento del texto, en el que identifiques: el tipo de texto, las ideas principales, las fechas, los autores y en general, la información que te presente el material sobre el que vas a presentar el test. Así pues, lo que pretende la plataforma es que mientras leas puedas organizar la información que estás leyendo para que realmente puedas presentar las pruebas de manera objetiva, consciente y responsable. Para ello te hacemos las siguientes recomendaciones:
<br><br>
-A medida que lees, es posible que aparezcan palabras que no sean frecuentes para ti o que desconozcas, ¡no te quedes con las dudas! Consulta en la web, en especial te recomendamos el diccionario de la Real Academia de la Lengua Española: rae.es, y consigna esa información en tu cuaderno de apuntes.
<br><br>
-A medida que lees, consigna en tu cuaderno la información que te parezca importante. Presta especial atención a las fechas, los autores o personajes que se mencionan, así como a los acontecimientos más relevantes de cada párrafo.  Te recomendamos hacer un apunte por párrafo en tu cuaderno.
<br><br>
-A medida que lees realiza tu propia construcción mental al respecto del texto, para eso te recomendamos:
<br><br>
a) Realizar MAPAS CONCEPTUALES.
<br><br>
b) Hacer CUADROS COMPARATIVOS.
<br><br>
C) Hacer LÍNEAS DE TIEMPO.
<br><br>
d) Formular preguntas: ¿Qué pasaría si…? ¿Qué me quiere decir el autor? ¿Qué otro texto he leído que esté a favor o en contra de lo que acabo de leer?, entre otras.
<br><br>
e) Anotar al pie de la letra la información que creas que es de vital importancia.
<br><br>
f) Hacer dibujos o esquemas que te permitan entender la situación planteada por el texto.
<br><br>
- Si tienes la oportunidad de leer en compañía de tus padres ¡perfecto!, hazle preguntas mientras lees y al terminar la lectura; dialoguen sobre situaciones de la vida cotidiana o de la historia de la humanidad que presenten circunstancias que estén a favor o en contra de lo planteado por el texto para enriquecer la lectura.
          </p>
<br><br>
         <p class="text-center"> 
<strong>DESPUÉS DE HABER LEIDO:</strong>
          </p>
<br><br>
         <p class="text-justify">
- Al enfrentarte a cualquier pregunta, identifica al nivel de comprensión lectora que le corresponda. Recuerda que pueden ser:
<br><br>
Literales, intertextuales, críticas e inferenciales.
<br><br>
Si tienes alguna inquietud, no dudes en consultar la explicación correspondiente a los niveles de lectura que te ofrece la plataforma, además, pregúntale a tu docente de español o al encargado del proceso de comprensión lectora de tu institución. Recuerda que una duda solucionada es una fortaleza a futuro.
<br><br>
- Lee cuidadosamente la pregunta y cuestiónate: ¿realmente entendí lo que me están preguntando? Si la respuesta es NO, por favor, vuelve a leerla o pregúntales a tus padres para que te ayuden.
<br><br>
- Te recomendamos leer cada pregunta con sus respectivas opciones 2 veces:
<br><br>
a) En la primera lectura debes descartar 2 opciones que, por lo general, se desvían del tema, no tienen relación con lo que se les está preguntando o simplemente no responden total o correctamente a lo que se te está preguntando.
<br><br>
b) Una vez descartadas las dos opciones anteriores, te encontrarás ante dos posibles respuestas entre las cuales se encuentra la respuesta correcta, para encontrarla debes tener en cuenta la pertinencia de cada afirmación con respecto al nivel de lectura de la pregunta y a lo que se te está pidiendo directamente que respondas. Este proceso de descarte te ayudará a dar con la respuesta más completa a la pregunta que se te está formulando.
<br><br>
-Al terminar el test correspondiente a tu lectura, por favor, haz clic en el botón calificar. La plataforma te dará inmediatamente tu resultado y se lo enviará tanto a tus padres como a tus profesores. Una vez tengas los resultados te invitamos a identificar tus debilidades y o fortalezas según los niveles de lectura crítica, a partir de los mismos, te recomendamos profundizar en la teoría correspondiente a los niveles en los que presentas dificultades; basta con hacer clic en el nivel de comprensión lectora que necesites.
          </p>
<br><br>
         <p class="text-center"> 
<strong>Lector.com es tu plataforma de comprensión lectora: ¡DISFRÚTALA!</strong>
</p>
<br><br>
         
         
        </md-content>
    </div>
</div>