<div ng-cloak layout="row " layout-sm="column " layout-align="center center " layout-wrap>

    <div flex-gt-sm="90" flex>
        <md-content>
        
           <p class="text-center">
            <br><br>
<strong>NIVEL INTERTEXTUAL</strong>
         </p>
 <br><br>
         

<strong>¿Qué busca? </strong><br><br>
            
            <p class="text-justify">

Que relaciones el contenido textual con el de otros textos. <br><br>

<strong>¿Cómo son las preguntas? </strong><br><br>

Este tipo de preguntas plantea relaciones del texto leído con otro texto, en general te van a plantear lo expresado por un autor que no está mencionado directamente, o te van a mostrar lo expresado en otro texto, para que establezcas relaciones entre los dos, ya sea para encontrar coincidencias o resaltar oposiciones. <br><br>

<p class="text-center"><strong>Ejemplo:</strong> </p><br><br>

<strong>En relación a éste texto: </strong><br><br>

La solidaridad es uno de los principales motores que llevaron a la evolución de la sociedad humana, ya que desde el hombre primitivo fue indispensable el reconocimiento del otro y el sentimiento de compasión hacia él, para que se pudiera concebir la idea de compartir con los semejantes. Sin embargo, para nadie es un secreto que la evolución humana no estuvo ajena a la ley de la selva, en el que el más fuerte tiene mayores probabilidades de sobrevivir. <br><br>
<strong>Pregunta:</strong> <br><br>
El Dalai Lama es el líder espiritual del pueblo Tibetano, si bien se encuentra desterrado de su nación a causa del dominio del gobierno Chino sobre el Tíbet. Sin embargo, en cada una de sus intervenciones públicas hace énfasis en la compasión, incluso sobre sus enemigos, al punto de afirmar que: “El amor y la compasión son necesidades, no lujos. Sin ellos la humanidad no puede sobrevivir.” Así pues, lo expresado por el Dalai Lama coincide con lo manifestado en el texto porque: <br><br>
a) Como lo manifiesta el texto, no puede haber sociedad sin solidaridad. <br><br>

b) La compasión es el eje central de los discursos del Dalai Lama, sin la cual, su visión pacífica de la sociedad, se quedaría sin fundamento. <br><br>

c) La compasión hace posible la solidaridad y solamente al ser solidario el ser humano pudo evolucionar socialmente. <br><br>

d) Tanto el texto como el Dalai Lama, reconocen que la compasión es la mejor manera de lograr el reconocimiento del otro, lo que implica ser solidario, un aspecto indispensables en la sociedad humana, sin el cual, no podríamos hablar de sociedad. <br><br>

 <p class="text-center"><strong>ANÁLISIS DE LAS OPCIONES:</strong> </p><br><br>

<strong>Opción a):</strong> Nos presenta una afirmación muy reducida, que no tiene en cuenta las posibles variables manifestadas por el texto o el autor, por eso la opción a) es descartada. <br><br>

<strong>Opción b):</strong> Este tipo de opciones son, por lo general, las más fáciles de descartar, pues nos presentan información que no está en el texto o que no tiene relación con la pregunta. En este caso se centra en el Dalai Lama, desconociendo al texto de referencia. Así mismo, la afirmación no ofrece respuesta a la pregunta. Por lo tanto, la opción B), es descartada. <br><br>

<strong>Opción c):</strong> Este tipo de opciones son, por lo general, las más difíciles de descartar, pues son muy parecidas a la respuesta correcta, sin embargo, si la leemos detalladamente nos daremos cuenta de que no está totalmente completa, o que tiene algo que no es 100% adecuado para el texto. En este caso, podemos ver que la afirmación resulta muy general y no contempla ni directa ni indirectamente, la relación entre los dos textos. Así pues, la opción c) es descartada por que le faltan las partículas “de la”. <br><br>

 <strong>Opción d):</strong> Esta es la opción correcta pues es la única que se apega al pie de la letra al ejercicio de relacionar lo propuesto tanto en el texto base como en la afirmación incluida a la pregunta, correspondiente a lo manifestado por el Dalai Lama. Así mismo, hace énfasis en la concordancia solicitada entre lo expuesto en la lectura y lo manifestado por el Dalai Lama. Como se manifestó anteriormente, no olvides que la respuesta a este tipo de preguntas requiere que establezcas relaciones entre ambos textos, estas relaciones pueden ser de concordancia, semejanza u oposición, según el tipo de pregunta. <br><br>


</p>



        </md-content>
    </div>
</div>