<div ng-cloak layout="row " layout-sm="column " layout-align="center center " layout-wrap>

    <div flex-gt-sm="90" flex>
        <md-content>
            <p class="text-center">
              <br><br>
               <strong> NIVEL LITERAL</strong>
         </p>
                
                <p class="text-justify">
                <br><br> <strong>¿Qué busca?</strong>
                <br><br> Que tengas la capacidad de manejar la información explícita de un texto.
                          <br><br>
                 <strong>¿Cómo son las preguntas?</strong>
                    <br><br> Este tipo de preguntas busca verificar que comprendas y retengas, los elementos puntuales de un texto tales como las fechas, los nombres, el orden en el que se te presenta la información y así mismo, aspectos concretos cuya respuesta
                se encuentra de manera explícita en el texto.
                <br><br><p class="text-center"> <strong> Ejemplo:</strong> </p>
                <br><br><strong> Texto:</strong>
         <br><br> “Gabriel José de la Concordia García Márquez nació en Aracataca, 6 de marzo de 1927 y murió en Ciudad de México el 17 de abril de 2014. Mundialmente fue conocido como Gabriel García Márquez y recordado como uno
                de los más importantes escritores Colombianos, pues en 1982 recibió el Premio Nobel de Literatura.” <br><br> Pregunta: <br><br> ¿Cuál era el nombre completo del ganador del premio nobel de literatura en 1982? <br><br> Explicación: Como
                puedes ver, la respuesta a esta pregunta está descrita muy claramente en el mismo texto. En este tipo de preguntas, basta con identificar la sección del texto que se ajusta a lo que se está solicitando, para encontrar la respuesta. <br><br>                Las opciones que te presentan este tipo de preguntas pueden ser de éste tipo: <br><br> a) Gabriel García Márquez. <br><br> b) Mario Vargas Llosa. <br><br> c) Gabriel José Concordia García Márquez. <br><br> d) Gabriel José de la Concordia
                García Márquez. <br><br> 
        <p class="text-center"> <strong> ANÁLISIS DE LAS OPCIONES: </strong> </p>
         
         <br><br> <strong>Opción a):</strong>  Nos presenta el nombre con el que fue conocido el autor, sin embargo, debemos resaltar que la pregunta nos exige el nombre COMPLETO, y si vamos a mirar lo que nos manifiesta
                el texto, nos damos cuenta de que no está completo el nombre en dicha opción. Por esto la opción a) es descartada. <br><br><strong> Opción b):</strong>  Este tipo de opciones son, por lo general, las más fáciles de descartar, pues nos presentan información
                que no está en el texto o que no tiene relación con la pregunta. En este caso, Mario Vargas Llosa sí fue ganador del premio nobel de literatura, pero la fecha no corresponde, pues fue el ganador de dicho premio en el 2010. Por lo tanto,
                la opción B), es descartada. 
         <br><br> <strong> Opción c):</strong>  Este tipo de opciones son, por lo general, las más difíciles de descartar, pues son muy parecidas a la respuesta correcta, sin embargo, si la leemos detalladamente nos daremos cuenta de que
                no está totalmente completa, o que tiene algo que no es 100% adecuado para el texto. En este caso, la opción nos presenta el nombre: Gabriel José Concordia García Márquez, y si miramos en el texto, el nombre completo es: Gabriel José de
                la Concordia García Márquez. Así pues, la opción c) es descartada por que le faltan las partículas “de la”.
         <br><br> <strong>Opción d):</strong>  Esta es la opción correcta pues es la única que se apega al pie de la letra al contenido del texto. Como se
                manifestó anteriormente, no olvides que la respuesta a este tipo de preguntas está explícita en el mismo texto, simplemente tienes que identificarla según lo que te están preguntando. <br><br>

            </p>


        </md-content>
    </div>
</div>